# WordPress
WP_URL=http://localhost:8080
WP_TITLE="Funnie — Bruno Oliveira"
WP_ADMIN_USER=admin
WP_ADMIN_PASS=admin
WP_ADMIN_EMAIL=admin@example.test

# Database
DB_NAME=funnie
DB_USER=funnie
DB_PASS=funnie
DB_ROOT_PASS=rootroot
